.window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  height: fit-content;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: var(--shadow);
  transition: transform .2s ease-in-out;

  &--hidden {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    pointer-events: none;
  }

  &--fullscreen {
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(100vh - 77px);
    transform: none;

    .window-actions + div {
      width: 100%;
      height: 100%;
    }
  }
}