.window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  height: fit-content;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: var(--shadow);
}