@use "../../partials/mixins";

.window-button {
  @include mixins.resetButton(var(--background), none);
  display: flex;
  padding: 3px 7.5px;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 767px) {
    padding: 4px 9px;
  }

  &--normal {
    &:hover {
      background: var(--hover);
    }
  }

  &--danger {
    &:hover {
      background: var(--red);
    }
  }

  svg {
    @media screen and (max-width: 767px) {
      width: 24px;
    }
  }
}