.window-actions {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  cursor: grab;

  .window-button {
    &:first-child {
      border-radius: 0 0 0 6px;
    }
  }
}