$global-colors: (
  'white': #D9DBDE
);

$dark-theme-colors: (
  'color': #D9DBDE,
  'background': #202225
);

$light-theme-colors: (
  'color': #202225,
  'background': #D9DBDE
);

:root {
  @each $name, $value in $global-colors {
    --#{$name}: #{$value};
  }

  @media (prefers-color-scheme: dark) {
    @each $name, $value in $dark-theme-colors {
      --#{$name}: #{$value};
    }
  }

  &:has(#app.dark) {
    @each $name, $value in $dark-theme-colors {
      --#{$name}: #{$value};
    }
  }

  @media (prefers-color-scheme: light) {
    @each $name, $value in $light-theme-colors {
      --#{$name}: #{$value};
    }
  }

  &:has(#app.light) {
    @each $name, $value in $light-theme-colors {
      --#{$name}: #{$value};
    }
  }
}