$global-variables: (
  // colors
  'white': #D9DBDE,
  'green': #25BA00,
  'yellow': #EDAB00,
  'red': #BA0000,
  'blue': #0C8CE9,

  // shadow
  'shadow': 0 4px 10px 0 rgba(0, 0, 0, 0.25),

  // background
  'backdrop': rgba(32, 34, 37, 0.80),

  // blur
  'glass': blur(21px)
);

$dark-theme-colors: (
  'color': #D9DBDE,
  'background': #202225,
  'background-application': rgba(32, 34, 37, 0.8),
  'hover': #363A3F,
  'input': #34373C,
  'input-hover': #474B52,
);

$light-theme-colors: (
  'color': #202225,
  'background': #D9DBDE,
  'background-application': rgba(217, 219, 222, 0.8),
  'hover': #C0C4C9,
  'input': #C3C6CB,
  'input-hover': #878D97,
);

:root {
  @each $name, $value in $global-variables {
    --#{$name}: #{$value};
  }

  @media (prefers-color-scheme: dark) {
    @each $name, $value in $dark-theme-colors {
      --#{$name}: #{$value};
    }
  }

  &:has(#app.dark) {
    @each $name, $value in $dark-theme-colors {
      --#{$name}: #{$value};
    }
  }

  @media (prefers-color-scheme: light) {
    @each $name, $value in $light-theme-colors {
      --#{$name}: #{$value};
    }
  }

  &:has(#app.light) {
    @each $name, $value in $light-theme-colors {
      --#{$name}: #{$value};
    }
  }
}