$global-colors: (
  'white': #D9DBDE,
  'green': #25BA00,
  'yellow': #EDAB00,
  'red': #BA0000
);

$dark-theme-colors: (
  'color': #D9DBDE,
  'background': #202225,
  'hover': #363A3F,
  'input': #34373C,
);

$light-theme-colors: (
  'color': #202225,
  'background': #D9DBDE,
  'hover': #C0C4C9,
  'input': #C3C6CB
);

:root {
  @each $name, $value in $global-colors {
    --#{$name}: #{$value};
  }

  @media (prefers-color-scheme: dark) {
    @each $name, $value in $dark-theme-colors {
      --#{$name}: #{$value};
    }
  }

  &:has(#app.dark) {
    @each $name, $value in $dark-theme-colors {
      --#{$name}: #{$value};
    }
  }

  @media (prefers-color-scheme: light) {
    @each $name, $value in $light-theme-colors {
      --#{$name}: #{$value};
    }
  }

  &:has(#app.light) {
    @each $name, $value in $light-theme-colors {
      --#{$name}: #{$value};
    }
  }
}