@use "../../../partials/functions";
@use "../../../partials/mixins";

.tictactoe-head {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;

  &__left-buttons {
    display: flex;
    gap: functions.rem(6);
  }

  &__button {
    @include mixins.resetButton(none, var(--background));
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 3px;

    &:hover {
      background-color: var(--hover);
    }
  }

  &__score {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: functions.rem(32);
    font-weight: 600;
    text-align: center;
  }
}