@use "../../partials/functions";
@use "../../partials/mixins";

.input {
  display: flex;
  justify-content: space-between;

  &--disabled {
    label {
      color: var(--hover);
      pointer-events: none;
    }

    .input {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }

  &__wrapper,
  &--button {
    position: relative;
    @include mixins.resetButton(none, var(--input));
    display: flex;
    align-items: center;
    width: fit-content;
    height: 38px;
    padding: functions.rem(6) functions.rem(18);
    border-radius: 6px;
    font-size: functions.rem(14);
    font-weight: 400;
  }

  &__wrapper {
    &:has(.input--file:hover:not(:disabled)) {
      background: var(--input-hover);
    }
  }

  &--file {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

  &--button {
    &:hover:not(:disabled) {
      background: var(--input-hover);
    }
  }
}