@use "../../partials/functions";
@use "../../partials/mixins";

.input {
  position: relative;
  display: flex;
  justify-content: space-between;

  &--disabled {
    label {
      color: var(--hover);
      pointer-events: none;
    }

    input {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }

  &__wrapper,
  &--button,
  &--submit,
  &--password,
  &--text {
    position: relative;
    @include mixins.resetButton(none, var(--input));
    display: flex;
    align-items: center;
    width: fit-content;
    height: 38px;
    padding: functions.rem(6) functions.rem(18);
    border-radius: 6px;
    font-size: functions.rem(14);
    font-weight: 400;
  }

  &--password,
  &--text {
    border-radius: 3px;
  }

  label {
    transition: color .2s ease-in-out;
  }

  &__wrapper {
    &:has(.input--file:hover:not(:disabled)) {
      background: var(--input-hover);
    }
  }

  &--file {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

  &--button,
  &--submit {
    &:hover:not(:disabled) {
      background: var(--input-hover);
    }
  }

  &--number {
    position: relative;
    @include mixins.resetButton(none, var(--input));
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: fit-content;
    height: 38px;
    padding: functions.rem(6) functions.rem(18);
    border-radius: 6px;
    font-size: functions.rem(14);
    font-weight: 400;
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &--password,
  &:has(.input--password) {
    width: 100%;
  }

  input {
    transition: opacity .2s ease-in-out;
  }

  &--vibrate {
    animation: vibrate 0.2s;

    @keyframes vibrate {
      0% {
        transform: translateX(0);
      }
      25% {
        transform: translateX(-20px);
      }
      75% {
        transform: translateX(20px);
      }
      100% {
        transform: translateX(0);
      }
    }
  }

  &:has(.input--hidden) {
    opacity: 0;
    width: 0;
    height: 0;
  }

  &__error {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(- functions.rem(6));
    color: var(--red);
    font-size: functions.rem(14);
  }

  &:has(.input__error) {
    padding-top: calc(functions.rem(30) + functions.rem(6));
  }
}