@use "../../partials/functions";
@use "../../partials/mixins";

.pin-code {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: functions.rem(20);

  &__dots {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__dot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid var(--color);

    &--filled {
      background: var(--color);
    }
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  &__button {
    @include mixins.resetButton(none, var(--background));
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: calc(100% / 3);
    aspect-ratio: 1/1;

    &:active {
      background-color: var(--hover);
    }
  }

  &--small {
    .pin-code {
      &__dots {
        padding: 0 25px;
      }

      &__buttons {
        width: 198px;
      }

      &__button {
        font-size: functions.rem(32);
      }
    }
  }

  &--big {
    .pin-code {
      &__dots {
        padding: 0 32px;
      }

      &__buttons {
        width: 240px;
      }

      &__button {
        font-size: functions.rem(40);
      }
    }
  }

  &--vibrate {
    animation: vibrate 0.2s;

    @keyframes vibrate {
      0% {
        transform: translateX(0);
      }
      25% {
        transform: translateX(-20px);
      }
      75% {
        transform: translateX(20px);
      }
      100% {
        transform: translateX(0);
      }
    }
  }
}