@use "../../partials/functions";
@use "../../partials/mixins";

.select {
  &--disabled {
    label {
      color: var(--hover);
      pointer-events: none;
    }
  }

  &__field {
    display: flex;
    height: fit-content;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      z-index: 2;
      top: 50%;
      right: functions.rem(18);
      transform: translateY(-50%);
      width: 12px;
      height: 6px;
    }

    select {
      position: relative;
      z-index: 1;
      @include mixins.resetButton(none, var(--input));
      appearance: none;
      display: flex;
      align-items: center;
      width: fit-content;
      height: 38px;
      padding: functions.rem(6) functions.rem(50) functions.rem(6) functions.rem(18);
      border-radius: 6px;
      font-size: functions.rem(14);
      font-weight: 400;

      &:hover:not(:disabled) {
        background: var(--input-hover);
      }

      &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .select__field {
    &:before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='6' viewBox='0 0 12 6' fill='none'%3E%3Cpath d='M6 6L0 0H12L6 6Z' fill='%23D9DBDE'/%3E%3C/svg%3E");
    }
  }
}

#app.dark {
  .select__field {
    &:before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='6' viewBox='0 0 12 6' fill='none'%3E%3Cpath d='M6 6L0 0H12L6 6Z' fill='%23D9DBDE'/%3E%3C/svg%3E");
    }
  }
}

@media (prefers-color-scheme: light) {
  .select__field {
    &:before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='6' viewBox='0 0 12 6' fill='none'%3E%3Cpath d='M6 6L0 0H12L6 6Z' fill='%23202225'/%3E%3C/svg%3E");
    }
  }
}

#app.light {
  .select__field {
    &:before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='6' viewBox='0 0 12 6' fill='none'%3E%3Cpath d='M6 6L0 0H12L6 6Z' fill='%23202225'/%3E%3C/svg%3E");
    }
  }
}