.toggle {
  display: flex;
  justify-content: space-between;

  &--disabled {
    color: var(--hover);
    transition: color .2s ease-in-out;

    .toggle {
      &__switch {
        background: var(--hover) !important;
      }

      &__input {
        cursor: not-allowed;
      }
    }
  }

  &__switch {
    position: relative;
    background: var(--background);
    width: 50px;
    height: 26px;
    border: var(--color) 1px solid;
    overflow: hidden;
    border-radius: 40px;
    transition: background .2s ease-in-out;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 2px;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      background: var(--white);
      border-radius: 50%;
      filter: drop-shadow(0 0 4px rgba(32, 34, 37, 0.50));
      transition: transform .2s ease-in-out;
    }

    &:has(.toggle__input:checked) {
      background: var(--blue);

      &:before {
        transform: translate(24px, -50%);
      }
    }
  }

  &__input {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
}