@use "../../../partials/functions";

.clock {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 355px;
  background: var(--background-application);
  backdrop-filter: var(--glass);
  padding-top: functions.rem(36);

  @media screen and (max-width: 767px) {
    padding-bottom: functions.rem(44);
  }

  &__tab {
    flex: 1;

    &-main {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: functions.rem(20);
      padding-top: functions.rem(64);
      flex: 1;

      @media screen and (max-width: 767px) {
        padding-top: functions.rem(24);
      }
    }
  }

  &__time {
    font-size: functions.rem(96);
    font-weight: 700;
    line-height: 1;

    @media screen and (max-width: 767px) {
      font-size: functions.rem(70);
    }
  }

  &__separator {
    background: var(--color);
    width: 200px;
    height: 2px;
  }
}