@use "../../../partials/mixins";

.clock-button {
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  @include mixins.resetButton(none, var(--input));
  border-radius: 50%;

  &#play {
    padding-left: 20px;
    justify-content: flex-start;
  }

  &:active {
    background-color: var(--input-hover);
  }
}