@use "../../../partials/functions";
@use "../../../partials/mixins";

.tabs {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
  display: flex;
  width: fit-content;
  min-height: fit-content;
  border-radius: 0 0 6px 0;
  overflow: hidden;

  @media screen and (max-width: 767px) {
    top: initial;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    border-radius: 6px 6px 0 0;
  }

  .tab {
    display: flex;
    padding: functions.rem(10) functions.rem(15);
    justify-content: center;
    align-items: center;
    @include mixins.resetButton(none, var(--browser-background));
    font-size: functions.rem(16);

    &--active {
      background: var(--background);
    }

    &:not(.tab--active) {
      &:hover {
        background: var(--hover);
      }
    }
  }
}