@use "../../../partials/functions";
@use "../../../partials/mixins";

.tabs {
  position: relative;
  z-index: 6;
  display: flex;
  width: fit-content;
  min-height: fit-content;
  border-radius: 0 0 6px 0;
  overflow: hidden;

  .tab {
    display: flex;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    @include mixins.resetButton(none, var(--browser-background));
    font-size: functions.rem(16);

    &--active {
      background: var(--background);
    }

    &:not(.tab--active) {
      &:hover {
        background: var(--hover);
      }
    }
  }
}