.appbar {
  position: fixed;
  z-index: 9999999999;
  left: 50%;
  bottom: 5px;
  transform: translateX(-50%);
  display: flex;
  gap: 12px;
  background: var(--background-appbar);
  padding: 0 10px;
  border-radius: 25px;

  @media screen and (max-width: 767px) {
    z-index: 0;
  }

  &__left,
  &__right {
    padding: 10px 0 0;
  }

  &__left {
    display: flex;
    gap: 12px;
  }

  &__right {
    position: relative;
  }

  &:has(.appbar__left) {
    .appbar__right {
      padding-left: 13px;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        background: var(--color);
        width: 1px;
        height: 50px;
        border-radius: 1px;

        @media screen and (max-width: 767px) {
          height: 40px;
        }
      }
    }
  }
}