@use "../../partials/functions";
@use "../../partials/mixins";

.header {
  display: flex;
  justify-content: space-between;
  padding: functions.rem(10) functions.rem(40) 0;

  &__left,
  &__right{
    display: flex;
    gap: functions.rem(15);
  }

  &__left {

  }

  &__subitem,
  &__right {
    display: flex;
    padding: functions.rem(9) functions.rem(10);
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    height: 34px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  }

  &__right {
    background: var(--background);

    .header__item {
      display: flex;
      height: fit-content;

      &-button {
        @include mixins.resetButton(none, none);
      }
    }
  }

  &__subitem,
  &__right .header__item-button {
    font-size: functions.rem(14);
    font-weight: 600;
    line-height: 0.86;
    text-align: center;
  }

  &__subitem {
    @include mixins.resetButton(none, var(--background));
  }
}