@use "../../../../partials/functions";
@use "../../../../partials/mixins";

.timer {
  .clock__time {
    display: flex;
  }

  &__input {
    display: flex;
    font-size: functions.rem(96);
    font-weight: 700;
    line-height: 1;
    @include mixins.resetButton(none, transparent);

    @media screen and (max-width: 767px) {
      font-size: functions.rem(70);
    }
  }
}