@use "../../partials/functions";
@use "../../partials/mixins";

.app-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: functions.rem(10);
  @include mixins.resetButton(none, none);
  width: 100px;
  max-height: 89px;

  &__name {
    font-weight: 400;
    font-style: normal;
    text-align: center;
  }
}