@use "../../partials/functions";
@use "../../partials/mixins";

.app-icon {
  position: relative;
  @include mixins.resetButton(none, none);

  &--desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: functions.rem(10);
    width: 100px;
    max-height: 89px;

    .app-icon__name {
      color: var(--white);
    }
  }

  &--appbar {
    padding-bottom: 10px;

    &:hover {
      .app-icon__name {
        display: flex;
      }
    }

    &:after {
      content: '';
      display: none;
      position: absolute;
      left: 50%;
      bottom: 2px;
      transform: translateX(-50%);
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: var(--color);
    }

    .app-icon__name {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, calc(-100% - 16px));
      display: none;
      align-items: center;
      flex-direction: column;
      color: var(--color);
      text-wrap: nowrap;
      filter:
        drop-shadow(0 -1px 0 var(--color))
        drop-shadow(0 1px 0 var(--color));

      &:after {
        content: '';
        width: 0;
        height: 0;
        border-left: 7.5px solid transparent;
        border-right: 7.5px solid transparent;
        border-top: 8px solid var(--background);
      }

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: functions.rem(6) functions.rem(12);
        background: var(--background);
        border-radius: 6px;
        filter:
          drop-shadow(-1px 0 0 var(--color))
          drop-shadow(1px 0 0 var(--color));
      }
    }
  }

  &--opened {
    &:after {
      display: block;
    }
  }

  &__image {
    width: 50px;
    height: 50px;
  }

  &__name {
    font-size: functions.rem(16);
    font-weight: 400;
    font-style: normal;
    text-align: center;
  }
}