@use "../../partials/functions";

.popin {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: functions.rem(30);
  position: absolute;
  z-index: 6;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--background);
  box-shadow: var(--shadow);
  width: 330px;
  padding: functions.rem(30) functions.rem(25);

  &__title {
    font-size: functions.rem(24);
    font-weight: 500;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: functions.rem(30);
    width: 100%;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: functions.rem(8);
    width: 100%;

    li {
      display: flex;
      justify-content: space-between;

      p {
        font-size: functions.rem(16);
        line-height: 1;
      }
    }
  }

  &__backdrop {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--backdrop);
  }
}