.window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  border-radius: 6px;
  overflow: hidden;
}