@use "../../partials/functions";

.settings {
  background: var(--background);
  width: 800px;
  height: 550px;
  padding: functions.rem(35) functions.rem(25);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: functions.rem(60);

  &__title {
    font-size: functions.rem(36);
    font-weight: 700;
    font-style: normal;
    text-align: center;
  }
}