@use "../../../partials/functions";

.settings-page {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: functions.rem(35) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: functions.rem(60);
  overflow-y: auto;
  transition: transform 0.4s ease;
  background: var(--background);

  @media screen and (max-width: 767px) {
    gap: functions.rem(40);
  }

  &__hidden {
    transform: translateX(100%);
  }

  &__highlighted {
    z-index: 4;
  }

  &__title {
    font-size: functions.rem(36);
    font-weight: 700;
    font-style: normal;
    text-align: center;

    @media screen and (max-width: 767px) {
      font-size: functions.rem(30);
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: functions.rem(45);
    max-width: 550px;
    width: 100%;

    @media screen and (max-width: 767px) {
      padding: 0 functions.rem(20);
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: functions.rem(20);
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @media screen and (max-width: 767px) {
      flex-direction: column;
      align-items: flex-start;
      gap: functions.rem(8);
    }
  }

  .select {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 767px) {
      align-items: center;
    }
  }

  &__title {
    &-big {
      font-size: functions.rem(24);
      font-weight: 600;

      @media screen and (max-width: 767px) {
        font-size: functions.rem(20);
      }
    }

    &-small {
      font-size: functions.rem(16);
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--input);
    border-radius: 6px;
    padding: 10px;

    &.wallpaper {
      width: 220px;
      height: 130px;
    }
  }

  &__preview {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-color: var(--background);
  }
}