@use "../../../partials/functions";
@use "../../../partials/mixins";

.settings {
  background: var(--background);
  width: 800px;
  height: 562px;
  padding: functions.rem(35) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: functions.rem(60);

  @media screen and (max-width: 767px) {
    gap: functions.rem(40);
  }

  &:before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0);
    opacity: 0;
    transition: opacity 0.4s ease;
    pointer-events: none;
  }

  &--page-displayed {
    &:before {
      opacity: 0.5;
    }
  }

  &__title {
    font-size: functions.rem(36);
    font-weight: 700;
    font-style: normal;
    text-align: center;

    @media screen and (max-width: 767px) {
      font-size: functions.rem(30);
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: functions.rem(40);
    overflow-y: auto;
    padding: 0 functions.rem(60);

    @media screen and (max-width: 767px) {
      padding: 0 functions.rem(10);
      gap: functions.rem(20);
    }
  }

  &-item {
    @include mixins.resetButton(none, none);
    display: flex;
    gap: functions.rem(20);
    width: calc(50% - functions.rem(20));
    padding: functions.rem(10);
    border-radius: 6px;
    background: var(--background);

    @media screen and (max-width: 767px) {
      width: 100%;
    }

    &:hover {
      background: var(--hover);
    }

    &__icon {
      display: flex;
      width: 100%;
      max-width: 50px;
      height: 100%;
      max-height: 50px;
      justify-content: center;

      svg {
        display: flex;
        height: fit-content;
      }
    }

    &__text {
      text-align: left;
    }

    &__title {
      font-size: functions.rem(24);
      font-weight: 600;
      font-style: normal;
    }

    &__description {
      margin-top: functions.rem(10);
      font-size: functions.rem(16);
    }
  }
}