@use "../../../partials/functions";
@use "../../../partials/mixins";

.settings-back {
  position: absolute;
  top: functions.rem(25);
  left: functions.rem(30);
  @include mixins.resetButton(none, none);

  @media screen and (max-width: 767px) {
    left: functions.rem(20);
    width: 26px;
  }
}