.browser {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--input);
  border-radius: 6px;
  overflow: hidden;

  &__iframe {
    flex: 1;
    border: none;
  }
}

.window {
  box-shadow: none;

  &:not(.window--fullscreen) {
    .browser {
      height: 90vh;
      aspect-ratio: 16/10;

      @media screen and (max-width: 1100px) {
        width: 100vw;
      }

      @media screen and (max-width: 991px) {
        width: 90vw;
      }
    }
  }

  &-actions {
    top: 2px;
    right: 2px;
    width: calc(100% - 4px);
  }
}